<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.web.dao.TRectificationConfirmMapper">


    <resultMap id="ResultMap" type="com.spring.web.model.TRectificationConfirm" >
        <result column="id"  property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="confirm"  property="confirm" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
        <result column="sender" property="sender" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result column="checker" property="checker" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="status" property="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="check_id" property="checkId" javaType="java.lang.Integer" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="DATE" />
    </resultMap>



    <!--<select id="findMessageList" parameterType="java.lang.String" resultMap="ResultMapMessages">-->
        <!--select-->
        <!--*-->
        <!--from messages-->
        <!--where user_id = #{userId}-->
    <!--</select>-->

    <insert id="saveTRectificationConfirm" parameterType="com.spring.web.model.TRectificationConfirm">
    INSERT INTO t_rectification_confirm(confirm,sender,checker,status,check_id,create_time) VALUES (#{confirm},#{sender},#{checker},#{status},#{checkId},#{createTime})
    </insert>

    <select id="findTRectificationConfirm" parameterType="java.lang.String" resultType="java.util.Map">
        select
        a.*,b.*
        from t_rectification_confirm a LEFT JOIN t_check_tbl b on a.check_id = b.id
        where a.checker = #{userId} and a.status = 0
        ORDER BY a.id DESC
    </select>

</mapper>