<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.web.dao.TWaterparamterMapper">
  <resultMap id="BaseResultMap" type="com.spring.web.model.TWaterparamter">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="para" jdbcType="VARCHAR" property="para" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="min_val" jdbcType="DOUBLE" property="minVal" />
    <result column="max_val" jdbcType="DOUBLE" property="maxVal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, para, name, unit, min_val, max_val
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_waterparamter
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectWaterParamters"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_waterparamter
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_waterparamter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.spring.web.model.TWaterparamter">
    insert into t_waterparamter (id, para, name, 
      unit, min_val, max_val)
    values (#{id,jdbcType=INTEGER}, #{para,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{minVal,jdbcType=DOUBLE}, #{maxVal,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.spring.web.model.TWaterparamter">
    insert into t_waterparamter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="para != null">
        para,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="minVal != null">
        min_val,
      </if>
      <if test="maxVal != null">
        max_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="para != null">
        #{para,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="minVal != null">
        #{minVal,jdbcType=DOUBLE},
      </if>
      <if test="maxVal != null">
        #{maxVal,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.spring.web.model.TWaterparamter">
    update t_waterparamter
    <set>
      <if test="para != null">
        para = #{para,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="minVal != null">
        min_val = #{minVal,jdbcType=DOUBLE},
      </if>
      <if test="maxVal != null">
        max_val = #{maxVal,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.spring.web.model.TWaterparamter">
    update t_waterparamter
    set para = #{para,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      min_val = #{minVal,jdbcType=DOUBLE},
      max_val = #{maxVal,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>