<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!--自定义的filter-->
  <bean id="roleOrFilter" class="com.spring.web.filter.RolesAuthorizationFilter">
  </bean>

  <bean id="llRealm" class="com.spring.web.security.LanlinRealm">
    <property name="credentialsMatcher" ref="sha512Matcher" />
  </bean>

  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <property name="realm" ref="llRealm" />
    <property name="cacheManager" ref="cacheManagerL" />
  </bean>

  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager" />
    <property name="loginUrl" value="/common/timedout" />
    <property name="successUrl" value="/user" />
    <property name="unauthorizedUrl" value="/403" />
    <property name="filterChainDefinitions">
      <value>
        /=anon
        /druid/** = anon
        /images/** = anon
        /js/** = anon
        /styles/** = anon
        /html/** = anon
        /css/** = anon
        /**/taglibs.jsp = anon
        /imageServlet = anon
        /UploadServlet = anon
        /ajaxUpload = anon
        /ajaxUploadBase64 = anon
        /ajaxUploadFile = anon
        /upload/** = anon
        /common/** = anon
        /logout = anon
        /backLogout = anon
        /villageLogout = anon
        /test.jsp = anon
        /tab.jsp = anon
        /api/** = anon
        /webUploadServlet = anon
        /webuploader-demo.jsp = anon

        /newUpload/** = anon
        /download/**=anon


        /companyLogin = anon
        /fore/** = anon
        /login = anon
        /blogin = anon
        /back = anon
        /back/test = anon
        /village = anon
        /global/fore = anon
        /steel/fore = anon
        /gang = anon
        /village/test = anon
        /websocket = anon

        /back/modify-pwd = roleOrFilter["role_1", "role_2", "role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /back/** = roleOrFilter["role_1,role_2"]
        /company/safety-system/assess-bei = anon
        /company/information/information4 = authc
        <!-- /company/lineChartData = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/lineChartData2 = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/zhuChartData = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/zhuChartData2 = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8"]
        
        /company/check-part-add = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/trouble/trouble-information = roleOrFilter["role_1", "role_2", "role_3", "role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/t-industry/** = roleOrFilter["role_1", "role_2", "role_3", "role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/plan-next-print = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/check-item-save = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/check-part-save = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/check-save2 = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/check-rectification-print = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/rectification-save = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/recheck-detail = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/fu-del = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/recheck-add-print = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/recheck-save = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/danger/opinion-add = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/danger/opinion-detail = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /company/danger/opinion-del = roleOrFilter["role_3","role_4", "role_5", "role_6", "role_7", "role_8"]
        /village/company/company-show = roleOrFilter["role_1", "role_2", "role_3", "role_4", "role_5", "role_6", "role_7", "role_8"] 
        
        /company/** = roleOrFilter["role_5"]
        /village/** = roleOrFilter["role_5", "role_4","role_3","role_6", "role_7", "role_8"]
        /town/** = roleOrFilter["role_3"]
        /district/** = roleOrFilter["role_6"]-->
        /company/** = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /village/** = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /town/** = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /district/** = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /trade/** = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /global/** = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /steel/** = roleOrFilter["role_3", "role_4", "role_5", "role_6", "role_7", "role_8", "role_9", "role_10"]
        /village/websocket/** = anon
        /village/syncWarnMsg/** =anon
        /** = authc

      </value>
    </property>
  </bean>
  <bean id="cacheManagerL" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />
  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

  <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor" />

  <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    <property name="securityManager" ref="securityManager" />
  </bean>

  <!-- <bean id="sha512Matcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher"> <property name="hashAlgorithmName" value="${shiro.hashAlgorithmName}" /> <property name="storedCredentialsHexEncoded" 
    value="${shiro.storedCredentialsHexEncoded}" /> <property name="hashIterations" value="${shiro.hashIterations}" /> </bean> -->
  <bean id="sha512Matcher" class="com.spring.web.security.StandardPasswordEncoder" />
</beans>