.bj-td{width:20px;background:#2D5591;color:#fff;text-align:center;line-height:30px;font-weight:bold;font-size:14px;}
body .table-bordered,body .table-bordered th, body .table-bordered td,body .table-border th,body .table-border td{border-color:#3F3F41}
h3{text-align:center;}
.tab-harm{width:100%;}
.tab-harm .bj-red{background:#FF0000;color:#fff;padding:0;}
.bj-blue{background:#3366FF;color:#fff;height:20px;font-size:14px}
.tab-harm font{display:inline-block;width:100%;color:#0000FF;font-size:14px}
.tab-harm p{display:inline-block;width:100%;line-height:20px;padding:0;margin:0;color:#0000FF;word-wrap:break-word;word-break:break-all;white-space:normal;overflow:hidden;}
.img-l{display:inline-block;margin:4px 0;}
.img-bo{border:1px solid #333;border-radius:50%}
.tab-harm label{display:inline-block;margin:0 10%;font-size:14px;padding:7px 0}
body .tab-harm,body .tab-harm th, body .tab-harm td,body .tab-harm th,body .tab-harm td{border-color:#333}
.img-b{display:inline-block;width:16%;margin:0 1%}
body .mr-40{margin-right:25px;}
.main-gao{display:inline-block;width:100%;padding:10px;border:2px solid #000;box-sizing:border-box;}
.div-gaoz{border:1px solid #BEBEBE;margin:0 10px 3px 0;padding:5px 0}
.div-gaoz b{display:inline-block;width:100%;}
.div-gaoz p,.tab-gao p{display:inline-block;width:100%;box-sizing:border-box;padding:0 5px;margin:0;word-wrap:break-word;word-break:break-all;white-space:normal;overflow:hidden;}
.tab-gao .tcol-a{background:#FF0000;height:30px;color:#fff;border:1px solid #BEBEBE;}
.tab-gao .tcol-b{background:#FFA500;height:30px;color:#fff;border:1px solid #BEBEBE;}
.tab-gao .tcol-c{background:#FFFF00;height:30px;color:#fff;border:1px solid #BEBEBE;}
.tab-gao .tcol-d{background:#3B9BFF;height:30px;color:#fff;border:1px solid #BEBEBE;}
.tab-gao .tcol-red{background:#FE0002;height:30px;color:#fff;border:1px solid #BEBEBE;}
.tab-gao .tcol-blue{background:#0F40F5;height:30px;color:#fff;border:1px solid #BEBEBE;}
.div-xz{display:inline-block;width:100%;text-align: center;}
.div-xz .check-box{display:inline-block;margin-right:15px;padding:0;}
.div-gimg,.div-gimg2{display:inline-block;width:100%;margin-top:6px;text-align: center;}
.div-gimg img{border:1px solid #BEBEBE;margin-right:0.5%;width:9.7%}
.div-gimg2 img{border:1px solid #BEBEBE;margin-right:3px;width:21%;margin-bottom:6px;}
.tab-gao .xx-gaoz{display:inline-block;width:50px;height:50px;background:#FE0002;color:#fff;line-height:14px;padding:8px 0;text-align:center;vertical-align:top;box-sizing:border-box;}
.xx-gaoz1{display:inline-block;vertical-align:top;font-weight:bold;font-size:15px;line-height:50px;margin-left:25px}
.tab-gao.table th, .tab-gao.table td{padding:0;}
.td-gao{border:1px solid #BEBEBE;}
.tab-gao,.tab-gao *{color:#000}
.tab-gao b{color:#000}
.tab-harm .k-tab{width:6px;padding:0}
.tab-harm .kh-tab{height:10px;padding:0}
body .table.tab-harm .nobo{border-top:0px;border-bottom:0px;}
body .table.tab-harm .no-to{border-top:0px;}
body .table.tab-harm .no-bo{border-bottom:0px;}
body .tab-ying .input-text{border:0px;}