@CHARSET "UTF-8";
.line{border-top: 0;}

.jOrgChart .line {
  height                : 20px;
  width                 : 4px;
  
}

.jOrgChart .down {
  background-color     : green;
  margin              : 0px auto;
  border-down          : 3px solid green;
}

.jOrgChart .top {
  border-top          : 3px solid green;
}

.jOrgChart .left {
  border-right          : 2px solid green;
}

.jOrgChart .right {
  border-left           : 2px solid green;
}

/* node cell */
.jOrgChart td {
  text-align            : center;
  vertical-align        : top;
  padding               : 0;
}

.jOrgChart .node {
  /*background-color    : #35363B;*/
  background-color      : deepskyblue;
  display               : inline-block;
  width                 : 200px;
  height                : 100px;
  z-index               : 10;
  margin                : 0 0px;
}

/* jQuery drag 'n drop */

.drag-active {
  border-style      : dotted !important;
}

.drop-hover {
  border-style      : solid !important;
  border-color      : #E05E00 !important;
}

a {
            text-decoration: none;
            color: #000000;
            font-size: 12px;
}

.jOrgChart .node {
            width: 130px;
            height: 30%;
            line-height: 40px;
            border-radius: 4px;
            margin: 0 8px;
            overflow:hidden;
        }

.jOrgChart tr tr .node{width: 40%;}
.jOrgChart tr tr tr .node{width: 40%;}
.jOrgChart td {width: 10%;}
table {table-layout: fixed;word-wrap:break-word;}
