body,html {font-size:10.5pt;-webkit-text-size-adjust:none;}
body .row{margin:0;}
body h3 {padding-top: 10px;padding-bottom: 5px;font-family: "KaiTi_GB2312"}
#div_model {display: none;}
.MsoNormal {margin-bottom:10px;font-weight:bold;font-family: "KaiTi_GB2312";}
#container *{font-family: "KaiTi_GB2312";}
body .btn{font-size:14px;padding: 0 10px;margin-right:10px;}
.tabBar {text-align:center;height:35px;line-height:35px;margin-top:15px;}
.tabBar a {height:35px;line-height:35px;background:#E3EFFF;border:0px;margin-right:-2px;font-size:13px;color:#8C8D8E;cursor: pointer;display: inline-block;font-weight: bold;padding: 0 25px}
.tabBar a:hover{text-decoration: none}
.tabBar a.current{background:#569DF8;color:#fff}
body .row_ac{text-align:center;}
.dant1  {width:100%;display:inline-block}
.oneyhms{margin:0;padding:0;display:inline-block;line-height:17px;font-size:13px;word-wrap:break-word;word-break:break-all;white-space:normal;overflow:hidden;}
.check-box{margin-top:15px;}



.input-text {
  position: relative
}

.txtarea_sq {
  height: 100px;
  width: 350px;
}

.check-box,.print-tp  .radio-box {
  line-height: 30px;
}

.div_pdetail {
  width: 100%;
  font-size: 15px;
}

.div_pdetail font {
  float: left;
  font-size: 15px;
  margin-left: 15px;
  font-weight: bold;
  width:40%;
}

.div_pdetail label {
  float: right;
  font-size: 15px;
  margin-right: 15px;
  width:50%;
  text-align: right;
}
 .div_imgp {
  float: left;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.div_imgp img {
  max-width: 100%
}

.div_pleft {
  width: 150px;
  display: inline-block;
  line-height: 32px;
  font-size: 14px;
}

.div_pright {
  width: 300px;
  display: inline-block;
}

.div_pri {
  width: 100%;
  min-height: 32px
}

.div_pri font {
  float: right;
  line-height: 32px;
  font-size: 14px;
  margin-right: 15px;
}

 .div_pri .Wdate {
  float: right;
}

 .select {
  min-height: 32px;
  line-height: 32px;
}